@media (max-width: 1200px) {
    body{
        text-align: center;
        justify-content: center;
        margin: 0;
        height: auto;
    }

    main{
        margin: auto;
    }

    .light-title{
        font-size: 22px;
        text-align: center;
    }

    .bold-title-head{
        font-size: 22px
    }

    .bold-title{
        font-size: 13px;
    }

    .light-p-head{
        font-size: 13px;
        margin: auto 40px;
    }

    .light-p{
        font-size: 10px
    }

    .cards{
        width: 300px;
        margin: auto
    }

    .cards.four{
        margin: auto;
        margin-top: 170px;
    }

    .img-size{
        width: 35px;
    }

    .push-left{
        margin-left: 0;
    }

    .push-down{
        margin-top: 0;
    }

    .four{
        position: initial;
    }

    .attribution{
        font-size: 9px;
    }

    .cards:hover{
        width: 303px;
        border: 1px hsl(229, 6%, 66%) solid;
    }

}